/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* */

*{
    box-sizing: border-box;
    border: 1px solid gray;
    max-width: 100%;
}

/* general styles */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 5rem;
    padding: 1%;
    width: 100%;
}

section {
    padding: 4% 0;
    width: 90%;
    margin: 0 auto;
}

/*header section styles */

header {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
}

nav {
    padding: 2%;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 1% 2%;
    text-decoration: none;
    color: black;
}

/*main section styles*/

.main {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    margin: -5px 0;
    padding: 0 5px;
}

.imageContainer {
    width: 47%;
    margin: 5px 0;
}

.introContainer {
    width: 47%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    text-align: center;   
    justify-content: space-evenly; 
}

.introContainer a {
    display: inline-block;
    padding: 1% 2%;
    text-decoration: none;
    color: black;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    width: 100%;
    margin: 5px 0;
}

.galleryItem {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgrey;
    padding: 4%;
}

footer a {
    display: inline-block;
    margin: 1%;
    padding: 1% 2%;
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
    background-color: black;
}